
body{
    width: 100vw;
    height: 100vh;
    font-size: 15px;
    --stripe:#5e92f3;
    --bg:  #1565c0;
      
    background: linear-gradient(135deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(225deg, var(--bg) 25%, transparent 25%) -50px 0,
    linear-gradient(315deg, var(--bg) 25%, transparent 25%),
    linear-gradient(45deg, var(--bg) 25%, transparent 25%);
    background-size: 100px 100px;
    background-color: var(--stripe);
}

a {
    color: white;
    text-decoration: none;
}
nav {
    background:#003c8f;
    margin: 0px;
}


menu,
.item{
    padding: 10px;
    margin:  auto;
    justify-content: center;
    text-align: center!important;
}
.item.button {
    padding: 9px 5px;
}


ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: row;
  }

h1{
    margin-top: 5vh;
    
    text-align: center;
}
h2
{
    margin-top: 3vh;
    
    text-align: center;

}
img{
    display:block;
    margin:auto;
    height: 150px;
    width: 250px;
}
.form1{
    display: flex;
    flex-direction: row;
    width: 80%;
}

.div1{
    
   margin: auto;
    align-content: center;
    width: 50%;
}
p{
    text-align: center!important;
}

table {
    border-collapse: flex;
    margin:0;
   
    margin-right:5vh;
    color: white;
    width: 100%;
    
    text-align: center;
  }
  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  h5{
      color: white;
      text-align: center;
  }
  h6{
    color: white;
    text-align: center;
  }
  h3{
    color: white;
    text-align: center;
  }
  h4{
    color: white;
    text-align: center;
  }

span{
    color: white;
    
    
}

input{
    color: white;
    width: 50%;
}
select{
    width: 10%;
}
